<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: darkorange;">
    <h1>
        navigate to specific to 

    </h1>
    <center>
        <h1>
           <ol>
            <li><a href="{% url 'umb' %}">navigation to umb </a></li>
            <li><a href="{% url 'app:water' %}">navigation to water </a></li>
            </ol>
        </h1>
    </center>
</body>
</html>