<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: chartreuse;"> 
    <h1>
        navigate to genric to specific
    </h1>
    <ol>
    <h1>
        <li><a href="{% url 'app:rain' %}">navigation to rain</a></li>
       <li><a href="{% url 'app:water' %}">navigation to water </a></li>
    </ol>
        </ol>

</body>
</html>