<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: deeppink;">
    <h1>
        navigation to specific

    </h1>
    <center>
        <h1>water <a href="https://en.wikipedia.org/wiki/Hydrobiology">Hydrobiology</a></h1>
        <H1>AFRICAN WATER <a href="https://www.aslo.org/">lakes</a></H1>
        <h1>
            <ol>
           <li> <a href="{% url 'app:rain' %}"> navigation </a></li>
            <li><a href="{% url 'umb' %}">navigation to genric page </a></li>
            </ol>
        </h1>
    </center>
</body>
</html>